build/
.build*
.DS_Store
*.pyc

build_Makefile/CMakeFiles/
build_Makefile/CMakeFiles/_evr-internals-api-python-swig-static.dir
build_Makefile/CMakeFiles/_evr-internals-api-python-swig.dir
build_Makefile/CMakeFiles/_evr.dir
build_Makefile/CMakeFiles/evr-internals-api-static.dir
build_Makefile/CMakeFiles/gen_evr-internals-api-python-swig-static_evr-internals-apiPYTHON_wrap.dir
build_Makefile/CMakeFiles/gen_evr-internals-api-python-swig_evr-internals-apiPYTHON_wrap.dir
build_Makefile/CMakeFiles/gen_evr_evr-internals-apiPYTHON_wrap.dir

build_Makefile/_evr-internals-api-python-swig-static.a
build_Makefile/_evr-internals-api-python-swig.dylib
build_Makefile/_evr.so
build_Makefile/install/
build_Makefile/install_manifest.txt
build_Makefile/libevr-internals-api-static.a
build_Makefile/swig/

build_macOS/Debug/
build_macOS/evr-internals-api.build/
build_macOS/evr-internals-api.xcodeproj/project.xcworkspace/
build_macOS/evr-internals-api.xcodeproj/xcuserdata/
build_macOS/install/
build_macOS/install_manifest.txt
build_macOS/swig/

build_macOS/CMakeCache.txt
build_macOS/CMakeFiles/
build_macOS/CMakeScripts/

build_linux/CMakeFiles/
build_linux/CMakeCache.txt
build_linux/cmake_install.cmake

build_
build_macOS





test/python/Darwin/_evr-internals-api-python-swig.dylib
test/python/Darwin/_evr.so
test/python/Darwin/archive/
test/python/Darwin/include/
build_linux/

